FTK-Core/.vscode/cquery_cached_index

FTK-Core/build
FTK-Core/CMakeFiles
FTK-Core/Makefile
FTK-Core/cmake_install.cmake
FTK-Core/CMakeCache.txt
FTK-Core/.idea/
FTK-Core/FTK-Core.cbp
FTK-Core/bin/main
FTK-Core/ext/ftgl/build
